@using ServiceLib
@model KeaBlog.Areas.KeaAdmin.Models.PostViewModel

<div class="page-header">
    <h1>@Model.Title  @if(Model.CategoryId!=0)
                      {
                          <small>
                              <a href='@Url.Action("Category", "Blog", new { category = Model.CategoryName.ToTranslit().Slugify(), id = Model.CategoryId })'>
                                @Model.CategoryName
                              </a>
                          </small>
                      }</h1>
</div>
<div class="row">
    <div class="span9 well-small">
        <div class="row">
            <div class="span7">
                @if(Model.SelectedTags.Count!=0)
                {
                    <span class="label label-success"><i class="icon-tag icon-white"></i></span>
                    foreach (var tag in Model.Tags)
                    {
                        <a href='@Url.Action("Tag", "Blog", new { tag = tag.Name.ToTranslit().Slugify(), id = tag.Id })' class="btn btn-mini btn-success">@tag.Name</a>
                    }
                }    
            </div>
            <div class="span2 pagination-right">
                Posted:&nbsp;<strong>@Model.GetModifiedDate()</strong>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span9">@Html.Raw(Model.GetCutContent())</div>
</div>
<div class="row">
    @if(Model.HasLink())
    {
        <div class="span5">
            <div class="well-small">
                <a href="@Model.LinkToOriginal" target="_blank"><span class="label label-success"><i class="icon-share icon-white"></i></span>&nbsp;<small>@Model.OriginalTitle</small></a>
            </div>
        </div>
        <div class="span2">
            <div class="well-small">
                <a href='@Url.Action("Post", "Blog", new { date = Model.GetModifiedDateUrl(), url = Model.PostUrl})#disqus_thread'></a>                
            </div>
        </div>
        <div class="span2">
            <a class="btn btn-success pull-right" href='@Url.Action("Post", "Blog", new { date = Model.GetModifiedDateUrl(), url = Model.PostUrl})'>Read post &rarr;</a>  
        </div>
    }
    else
    {
        <div class="offset5 span2">
            <div class="well-small">
                <a href='@Url.Action("Post", "Blog", new { date = Model.GetModifiedDateUrl(), url = Model.PostUrl})#disqus_thread'></a>                
            </div>
        </div>
        <div class="span2">
            <a class="btn btn-success pull-right" href='@Url.Action("Post", "Blog", new { date = Model.GetModifiedDateUrl(), url = Model.PostUrl})'>Read post &rarr;</a>
        </div>
            }
    
</div>



