@using ServiceLib
@model KeaBlog.Areas.KeaAdmin.Models.PostViewModel

@{
    Layout = "~/Views/Shared/_TwoColRightLayout.cshtml";
}

<div class="page-header">
    <h1>@Model.Title  @if(Model.CategoryId!=0){<small>@Model.CategoryName</small>}</h1>
</div>
<div class="row">
    <div class="span9 contentBB">@Model.GetFullContent()</div>
</div>
<div class="row">
    <div class="span7">
        @if(Model.SelectedTags.Count!=0)
        {
            <span class="label label-success"><i class="icon-tag icon-white"></i></span>
            foreach (var tag in Model.Tags)
            {
               <a href='@Url.Action("Tag", "Blog", new { tag = tag.Name.ToTranslit().Slugify(), id = tag.Id })' class="btn btn-mini btn-success">@tag.Name</a>
            }
        }    
    </div>
    <div class="span2 pagination-right">
        <span class="label label-success"><i class="icon-calendar icon-white"></i>&nbsp;<strong>@Model.GetModifiedDate()</strong></span>
    </div>
</div>
@if(Model.HasLink())
{
    <div class="row">
        <div class="span5">
            <span class="label label-success"><i class="icon-share icon-white"></i></span>&nbsp;<a href="@Model.LinkToOriginal" target="_blank"><small>@Model.OriginalTitle</small></a>
        </div>
    </div>
}
<div class="row">
    <div class="span9">
        @Html.Partial("_DisqusComments")
    </div>
</div>
