@using Webdiyer.WebControls.Mvc
@model KeaBlog.Areas.Admin.Models.TagListViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span6 offset3">
        <h2>Tags list</h2>
        <p>
            <a class="btn btn-info btn-mini createTagBtn" data-toggle="modal" url="@Url.Action("Create", "Tag", new{Area="Admin"})">Create tag</a>
        </p>
        <table class="table table-striped table-bordered table-fix">
            <thead>
                <tr>
                    <td style="width: 10%"></td>
                    <th style="width: auto">
                        Tag name
                    </th>
                    <th style="width: 20%">
                        Action
                    </th>
                </tr>        
            </thead>
            <tbody>
                @foreach (var item in Model.Tags) {
                    <tr id='@item.Id'>
                        <td></td>
                        <td name="Name">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="text-align: center">
                            <a class="btn btn-primary btn-mini editTagBtn" name="@item.Id" url='@Url.Action("Edit", "Tag", new{Area="Admin"})'>Edit</a>&nbsp;&nbsp;
                            <a class="btn btn-danger btn-mini deleteTagBtn" name="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination">
            @Html.Pager(Model.Tags, new PagerOptions
                {
                    PageIndexParameterName = "page",
                    NumericPagerItemCount = 10,
                    AlwaysShowFirstLastPageNumber = true,
                    PagerItemWrapperFormatString = "<li>{0}</li>",
                    CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                    NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                    ContainerTagName = "ul",
                    ShowFirstLast = false,
                    SeparatorHtml = "",
                    PrevPageText = "&larr;",
                    NextPageText = "&rarr;"
                })   
        </div>
        <div id="createEditTag" class="modal hide fade">
            <form action='' class="modal-form"  method="post" novalidate="novalidate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Edit tag</h3>
                </div>
                <div class="modal-body">
                    <input name="Id" type="hidden" value="0">
                    <label><strong>Category name</strong></label>
                    <input type="text" name="Name" class="input-xxlarge" placeholder="Type category name…" />
                    <span class="help-block">Max length 64 letters</span>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-info">
                    <a href="" class="btn" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
        <div id="deleteTag" class="modal hide fade">
            <form action='@Url.Action("Delete", "Tag", new { Area = "Admin" })' class="modal-form" method="post" novalidate="novalidate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Delete tag</h3>
                </div>
                <div class="modal-body">
                    <input name="tagId" type="hidden" value="0">
                    <p name="Text" class="input-xxlarge"></p>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <a href="" class="btn" data-dismiss="modal">Cancel</a>
                </div>
            </form>   
        </div>    
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#createEditTag').modal({ keyboard: false, show: false });
        $('#deleteTag').modal({ keyboard: false, show: false });
        $('.createTagBtn').click(function () {
            var form = $('#createEditTag'),
                formName = form.find('input[name="Name"]'),
                url = $(this).attr('url');
            form.find('form').attr('action', url);
            form.find('input[name="Id"]').val(0);
            formName.val("");
            form.find('input:submit').val("Create");
            form.modal('show');
        });
        $('.editTagBtn').click(function () {
            var element = $('tr#' + this.name),
                form = $('#createEditTag'),
                formName = form.find('input[name="Name"]'),
                name = element.find('td[name="Name"]').text(),
                url = $(this).attr('url');
            form.find('form').attr('action', url);
            form.find('input[name="Id"]').val(this.name);
            formName.val(name);
            form.find('input:submit').val("Save");
            form.modal('show');
        });
        $('.deleteTagBtn[name="0"]').addClass('disabled')
        $('.deleteTagBtn[name!="0"]').click(function () {
            var element = $('tr#' + this.name),
                form = $('#deleteTag'),
                name = element.find('td[name="Name"]').text(),
                text = 'Do you want to delete category: <strong>' + name + '</strong>?';
            form.find('input[name="tagId"]').val(this.name);
            form.find('p[name="Text"]').html(text);
            form.modal('show');
        });
    </script>
}
