@model KeaBlog.Areas.Admin.Models.PostViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить пост</h2>

<h3>Вы хотите удалить эту запись?</h3>
<fieldset>
    <legend>Запись:</legend>

    <div class="label label-info">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="well">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="label label-info">
         @Html.DisplayNameFor(model => model.ShortContent)
    </div>
    <div class="well">
        @Html.Raw(Model.ShortContent))
    </div>
    <div class="label">
         @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="well">
        @Html.DisplayFor(model => model.Created)
    </div>
    <div class="label">
         @Html.DisplayNameFor(model => model.Modified)
    </div>
    <div class="well">
        @Html.DisplayFor(model => model.Modified)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <a href='@Url.Action( "Index", "Blog")' class = "btn btn-info"><i class="icon-arrow-left icon-white"></i> back to list</a>
        <input type="submit" value="Delete" class = "btn btn-danger pull-right"/>
    </p>
}
