@model IEnumerable<KeaBlog.Areas.Admin.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список постов</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Blog", new { @class = "btn btn-info btn-mini" })
</p>
<table class="table table-striped table-bordered table-fix">
    <thead>
        <tr>
            <th style="width: 4%">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="width: auto">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="width: 5%">
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th style="width: 7%">
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th style="width: 7%">
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th style="width: 13%">
                Action / Действия
            </th>
        </tr>        
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="text-align: center">
                    @if (item.Visible)
                    {
                        <i class="icon-ok"></i>   
                    }
                    else
                    {
                        <i class="icon-remove"></i>
                    }
                </td>
                <td>
                    @item.Created.ToShortDateString()
                </td>
                <td>
                    @item.Modified.GetValueOrDefault().ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-mini" })&nbsp;&nbsp;
                    @Html.ActionLink("View", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-mini" })&nbsp;&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-mini" })
                </td>
            </tr>
        }
    </tbody>
</table>
