@model ServiceLib.Interfaces.IMenu<KeaBLL.General.MenuItem>

<ul class="nav">
    @foreach (var element in Model.Items)
    {
        if (element == Model.ActiveItem)
        {
            <li class="active"><a href="@Url.Action(element.Action, element.Controller)">@element.Display</a></li>
        }
        else
        {
            <li><a href='@Url.Action(element.Action, element.Controller)'>@element.Display</a></li>
        }
    }
</ul>
<form class="navbar-form pull-right" action='@Url.Action("Search", "Blog")' method="get">
    <input type="text" class="input-medium" placeholder="Search" name="query">
    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i></button>
</form>